.bata-minigame {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

.minigame-placeholder {
  max-width: 800px;
  width: 100%;
  text-align: center;
}

#gameCanvas {
  width: 100%;
  height: auto;
  background: var(--custom-background, #f0f0f0);
  display: none;
  box-shadow: var(--custom-shadow, 0 4px 8px rgba(0,0,0,0.2));
  border-radius: 10px;
}

#startScreen,
#gameOverScreen,
#playerNameScreen {
  margin-top: 40px;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  background-color: var(--custom-background, #fff);
  border: none;
  border-radius: 10px;
  box-shadow: var(--custom-shadow, 0 4px 8px rgba(0,0,0,0.2));
  color: var(--white, #000);
}


#scoreDisplay {
  font-size: 18px;
  margin-top: 10px;
  display: none;
}

#leaderboard {
  margin-top: 20px;
  text-align: left;
}

#leaderboard ul {
  list-style: none;
  padding-left: 0;
}

#leaderboard li {
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
}
