* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jaro, sans-serif;
    --dark-blue: #263042;
    --light-gray: #c2c2c2;
    --dark-gray: #2e2e2e;
    --white: #e6e6e6;
}

body {
    background-color: linear-gradient(#6b89c0, var(--dark-blue));
}

#content.fade-out {
    opacity: 0;
}
  

.logo {
    position: absolute;
    width: 100%;
}

.logo img {
    position: absolute;
    width: 100%;
    
}

/*header pro hlavní stránku*/
header {
    position: relative;
    background-image:linear-gradient( rgba(255,0,0,0)40px,var(--dark-blue)), url(../images/background3.jpg);
    background-size: cover; 
    height: 100vh;
    width: 100%;
    top: 0;
}
/*header pro podstránky*/
.history-page header{
    position: relative;
    background-image:linear-gradient( rgba(255,0,0,0)40px,var(--dark-blue)), url(../images/background3.jpg);
    background-size: cover; 
    height: 40vh;
    width: 100%;
    top: 0;
}

.header-nav {
    position: relative;
    top: 0;
    width: 98%;
    height: 145px;
    display: flex;
    align-items: center;
    padding: 0;
    padding-top: 10px;
    margin: 0 1% 0 1%;
    font-size: 45px;
}

.header-nav-left {
    position: relative;
    width: 10%;
    height: 100%;
    padding: auto;
}

.header-nav-right {
    position: relative;
    width: 80%;
    height: 100%;;
    margin-left: 50px;
}

.header-nav .nav-links {
    position: absolute;
    width: 99%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin-left: 20px;
    z-index: 2;
    
}

.heading {
    position: relative;
    width: 60%;
    height: 15%;
    margin: auto;
    top: 28%;
    z-index: 1;

}

.heading .subtite {
    position: relative;
    width: 60%;
    height: 15%;
    margin: auto;
    top: 28%;
    z-index: 1;
    font-size: 15px;
}

.heading h1:hover {
    cursor: default;
}

body[data-homepage="true"] .heading h1{
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--white);
    font-size: 120px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--dark-blue);
    font-weight: 900;
    text-shadow: 0 0 60px rgb(0, 0, 0);
}

body:not([data-homepage="true"]) .heading h1 {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--white);
    font-size: 80px;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--dark-blue);
    font-weight: 900;
    text-shadow: 0 0 60px rgb(0, 0, 0);
}

.nav-link a {
    text-decoration: none;
    color: var(--light-gray);
    
}
header .nav-link a {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

header .nav-link {
    transition: 0.7s;
}

header .nav-link:hover {
    cursor: hand;
    text-shadow: 0px 0px 60px rgb(0, 0, 0);
}

main {
    position: relative;
    width: 100%;
    height: 2800px;
    background-color: var(--dark-blue);
    margin: 0;
    color: var(--white);
}

.introduction {
    position: relative;
    width: 50%;
    height: 200px;
    margin: auto;
    top: 5%;
}

.introduction h2{
    width: 100%;
    font-size: 60px;
    color: var(--white);
    text-align: center;
    font-weight: 900;
    text-shadow: 0 0 60px rgba(110, 110, 110, 0.13);
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

.introduction p{
    width: 100%;
    top:30%;
    font-size: 20px;
    color: var(--white);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 900;
    text-shadow: 0 0 60px rgba(110, 110, 110, 0.13);
}

/* --- history.html --- */

.timeline {
    position: relative;
    width: 75%;
    height: 72%;
    margin: auto;
    top: 10%;
}

.timeline p {
    position: relative;
    width: 100%;
    height: 2%;
    text-align: center;
    font-size: 30px;
    color: var(--white);
    font-weight: 900;
    text-shadow: 0 0 60px rgba(110, 110, 110, 0.13);
}

.timeline-list {
    position: absolute;
    width: 100%;
    height: 98%;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.timeline-item {
    position: relative;
    width: 43%;
    height: 10%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.timeline-list :nth-child(odd){
    margin-left: auto;
}

.timeline-list :nth-child(even) {
    margin-right: auto;
}

/* --- texty na právé straně --- */
.timeline-list :nth-child(even) p{
    text-align: right;
    right: 58%;
    margin-right: 2%;
}

.timeline-list :nth-child(even) h3{
    text-align: right;
}

/* --- texty na levé straně --- */
.timeline-list :nth-child(odd) p{
    text-align: left;
    left: 58%;
    margin-left: 2%;
}

.timeline-list :nth-child(odd) h3{
    text-align: left;
}

.timeline-list p {
    position: absolute;
    width: 45%;
    font-family: 'Courier New';
    font-size: 17px;
}

.timeline-image {
    position: absolute;
    width: 50%;
    top: 13.9%;
}

/* --- obrázeky na pravé straně --- */
.timeline-list :nth-child(even) .timeline-image {
    right: 8%;
}

/* --- obrázeky na levé straně --- */
.timeline-list :nth-child(odd) .timeline-image {
    left: 8%;
}

.timeline-graph {
    position: relative;
    width: 100%;
    height: 98%;
    z-index: 1;
}
.timeline-graph :nth-child(n+1){
    width: 10%;
}

.timeline-graph :nth-child(n) {
    position: absolute;
}

.timeline-graph :nth-child(1) {
    width: 5px;
    height: 100%;
    background-color: var(--white);
    left: 50%;
    transform: translateX(-50%);
    box-shadow:  5px 5px 20px rgba(255, 255, 255, 0.2);
}

.timeline-graph :nth-child(2) {
    height: 5px;
    background-color: var(--white);
    top: 1.4%;
    left: 50%;
    box-shadow:  5px 5px 20px rgba(255, 255, 255, 0.2);
}
.timeline-graph :nth-child(3) {
    height: 5px;
    background-color: var(--white);
    top: 14.3%;
    right: 50%;
    box-shadow:  5px 5px 20px rgba(255, 255, 255, 0.2);
}
.timeline-graph :nth-child(4) {
    height: 5px;
    background-color: var(--white);
    top: 27.1%;
    left: 50%;
    box-shadow:  5px 5px 20px rgba(255, 255, 255, 0.2);
}
.timeline-graph :nth-child(5) {
    height: 5px;
    background-color: var(--white);
    top: 40%;
    right: 50%;
    box-shadow:  5px 5px 20px rgba(255, 255, 255, 0.2);
}
.timeline-graph :nth-child(6) {
    height: 5px;
    background-color: var(--white);
    top: 52.8%;
    left: 50%;
    box-shadow:  5px 5px 20px rgba(255, 255, 255, 0.2);
}
.timeline-graph :nth-child(7) {
    height: 5px;
    background-color: var(--white);
    top: 65.7%;
    right: 50%;
    box-shadow:  5px 5px 20px rgba(255, 255, 255, 0.2);
}
.timeline-graph :nth-child(8) {
    height: 5px;
    background-color: var(--white);
    top: 78.55%;
    left: 50%;
    box-shadow:  5px 5px 20px rgba(255, 255, 255, 0.2);
}
.timeline-graph :nth-child(9) {
    height: 5px;
    background-color: var(--white);
    top: 91.4%;
    right: 50%;
    box-shadow:  5px 5px 20px rgba(255, 255, 255, 0.2);
}

/* --- footer --- */
footer {
    position: relative;
    width: 100%;
    height: 160px;
    color: var(--white);
    font-size: 20px;
    margin: 0;
    bottom: 0;
    background-image:linear-gradient(var(--dark-blue),var(--dark-gray)125px);
}

.footer-nav {
    position: relative;
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin: auto
}

.footer-nav .nav-links {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin:0;
    
}

footer p {
    position: absolute;
    width: 100%;
    height: 25%;
    text-align: center;
    padding:0;
    margin: 0 ;
    margin-bottom: 10px;
}

